<!DOCTYPE html>
<html>
<head>
  <title>StevenBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <header>
      <a href="/">{blog}</a>
         <ul>
            <li>
               <a class ="twitter" href="http://twitter.com/flemdizzle">twitter</a>
            </li>
            <li>
               <a class="github" href="http://github.com/flemdizzle">github</a>
            </li>
         </ul>     
   </header>

<%= yield %>

</body>
</html>
